@keyframes anima-card {
  0% {
    transform: translateY(0);
  }

  66% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes anima-card-features {
  0% {
    transform: translateY(0);
  }

  66% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes transition-active {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes text-features {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes images-features {
  from {
    transform: translateX(20px);
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
  }
}
